# SIGNING
key.properties
**/*.jks
**/*.keystore
release-key.jks

# BUILD FILES
build/
android/app/build/

# LOCAL CONFIG
local.properties

# GRADLE
.gradle/
gradle-wrapper.jar
/captures/
.cxx/

# FLUTTER GENERATED
GeneratedPluginRegistrant.java

# OPTIONAL
android/app/google-services.json

# OS
.DS_Store
Thumbs.db